<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

  <!--========================-->
  <!--DATASOURCE CONFIGURATION-->
  <!--========================-->
  <jee:jndi-lookup id="dataSource" jndi-name="jdbc/algem"/>
  <!--bean id="propertyConfigurer"
  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
  p:location="/WEB-INF/jdbc.properties" />-->

  <!--=============-->
  <!--JDBC TEMPLATE-->
  <!--=============-->
  <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
    <constructor-arg ref="dataSource"/>
  </bean>
  <bean id="namedJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
    <constructor-arg ref="dataSource"/>
  </bean>

  <bean id="transactionManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
        scope="singleton">
    <property name="dataSource" ref="dataSource" />
  </bean>


  <!--===========================-->
  <!--MESSAGES RESOURCES LOCATION-->
  <!--===========================-->
  <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
    <!--<property name="basename" value="/WEB-INF/resources/messages" />-->
    <property name="basenames">
      <list>
        <value>/WEB-INF/resources/messages</value>
        <value>/WEB-INF/resources/security</value>
      </list>
    </property>
  </bean>

  <!--===========================-->
  <!--MESSAGE CONVERTERS OPTIONAL-->
  <!--===========================-->
<!--<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
 <property name = "messageConverters">
  <list>
   <bean class = "org.springframework.http.converter.StringHttpMessageConverter">
   <property name = "supportedMediaTypes">
    <list>
     <bean class="org.springframework.http.MediaType">
      <constructor-arg index="0" value="text"/>
      <constructor-arg index="1" value="plain"/>
      <constructor-arg index="2" value="UTF-8"/>
     </bean>
     <bean class="org.springframework.http.MediaType">
      <constructor-arg index="0" value="*"/>
      <constructor-arg index="1" value="*"/>
      <constructor-arg index="2" value="UTF-8"/>
     </bean>
    </list>
   </property>
   </bean>
  </list>
 </property>
</bean>-->

<!--======================-->
<!--SECURITY CONFIGURATION-->
<!--======================-->
<!--  <security:http pattern="/resources/**" security="none"/>
  <security:http pattern="/" security="none"/>
  <security:http pattern="/index.htm*" security="none"/>
  <security:http pattern="/login.htm*" security="none"/>
  <security:http pattern="/signup.htm*" security="none"/>-->

  <!--The <http> element is responsible for creating a FilterChainProxy and the filter beans which it uses.-->
  <bean id="authenticationEntryPoint" class="net.algem.security.AjaxAwareLoginUrlAuthenticationEntryPoint">
  <property name="loginFormUrl" value="/login.html" />
</bean>
  <security:http auto-config="true" use-expressions="true" entry-point-ref="authenticationEntryPoint">
    <security:intercept-url pattern="/book.htm*" access="hasAnyRole('1','2','3','4','11')" />
    <security:intercept-url pattern="/perso/**" access="hasAnyRole('1','2','3','4','11')" />
    <security:form-login login-page="/login.html"
                         default-target-url="/perso/home.html"
                         always-use-default-target="true"
    />
    <security:logout delete-cookies="JSESSIONID" />
    <!-- attribut optionnel : authentication-failure-url = "/login.html?login_error=1"-->
  </security:http>

  <bean id="myUserDetailsService" class="net.algem.security.CustomJdbcUserService">
    <property name="dataSource" ref="dataSource"/>
  </bean>

  <bean id="customPasswordEncoder" class="net.algem.security.CustomPasswordEncoder" />

  <security:authentication-manager alias="authenticationManager">
    <security:authentication-provider user-service-ref="myUserDetailsService">
      <security:password-encoder ref="customPasswordEncoder">
        <security:salt-source user-property="salt"/>
      </security:password-encoder>
    </security:authentication-provider>
  </security:authentication-manager>

  <!--====================-->
  <!--LOCALE CONFIGURATION-->
  <!--====================-->
  <bean id="localeResolver" class="org.springframework.web.servlet.i18n.AcceptHeaderLocaleResolver" />

  <!--=========================-->
  <!--MAIL SENDER CONFIGURATION-->
  <!--=========================-->
  <!--Create sender.xml file and include it context-param (web.xml)-->
<!--    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    <property name="host" value="smtp.xxxxx.xxx"/>
    <property name="port" value="587"/>
    <property name="username" value="user@xxxx.xxx"/>
    <property name="password" value="xxxxx"/>
    <property name="javaMailProperties">
        <props>
            <prop key="mail.transport.protocol">smtp</prop>
            <prop key="mail.smtp.auth">true</prop>
            <prop key="mail.smtp.starttls.enable">true</prop>
            <prop key="mail.debug">true</prop>
        </props>
    </property>
</bean>-->
</beans>
